# "Evaluating LeagueDSL in a large number of maps"
> "Checking for ways to present some results of my research."

- toc: true
- badges: false
- comments: true
- categories: [evaluations, tests]

In [13]:
#collapse-hide
import pandas as pd
import altair as alt
import numpy as np

## Map Battle

### Quantity of Iterations

In [2]:
#collapse-hide
l = [['LB-42826107.out', 3], ['LBattle-31696511.out', 5], ['LBattle-31696509.out', 4], ['LBattle-31696507.out', 5], ['LBattle-31696506.out', 3], ['LB-42826120.out', 4]]
df = pd.DataFrame(l, columns=['Test','Iterations'])
df.head()

                   Test  Iterations
0       LB-42826107.out           3
1  LBattle-31696511.out           5
2  LBattle-31696509.out           4
3  LBattle-31696507.out           5
4  LBattle-31696506.out           3

## Map 8x8

### Quantity of Iterations

In [11]:
#collapse-hide
l = [['L8-42826052.out', 2], ['L8x8-31696644.out', 3], ['L8x8-31696609.out', 2], ['L8-42826046.out', 4], ['L8x8-31696645.out', 3], ['L8x8-31696632.out', 3]]
df = pd.DataFrame(l, columns=['Test','Iterations'])
df.head(5)

                Test  Iterations
0    L8-42826052.out           2
1  L8x8-31696644.out           3
2  L8x8-31696609.out           2
3    L8-42826046.out           4
4  L8x8-31696645.out           3

## Map 9x8

### Quantity of Iterations

In [50]:
#collapse-hide
l = [['L9-42849689.out', 1], ['L9x8-31696705.out', 1], ['L9x8-31696699.out', 1]]
df = pd.DataFrame(l, columns=['Test','Iterations'])
df.head()

                Test  Iterations
0    L9-42849689.out           1
1  L9x8-31696705.out           1
2  L9x8-31696699.out           1

In [113]:
#collapse-hide
dt9_8 = pd.read_csv("/home/rubens/papers_briefing/csvs/map9x8.csv")
#dt9_8.head()

In [112]:
#collapse-hide
selector = alt.selection_single(empty='all', fields=['Player'])
l = dt9_8['Player'].tolist()
color_scale = alt.Scale(domain=l,scheme="category20b")
base = alt.Chart(dt9_8).properties(
    width=800,
    height=200
).add_selection(selector)

points = base.mark_bar(filled=True, size=60).encode(
    x=alt.X('Player:N'),
    y=alt.Y('TOTAL:Q',
            scale=alt.Scale(domain=[0,max(dt9_8['TOTAL'].tolist())])),
    color=alt.condition(selector,
                        'Player:N',
                        alt.value('lightgray'),
                        scale=color_scale),
)

hists = base.mark_bar(opacity=0.5, thickness=100).encode(
    x=alt.X('Player:N'),
    y=alt.Y('STT:Q',
            stack=None,
            scale=alt.Scale(domain=[0,10])),
    color=alt.Color('Player:N',
                    scale=color_scale),
    tooltip=['Code:N']
).transform_filter(
    selector
).properties(
    width=160,
    height=200
)

hists2 = base.mark_bar(opacity=0.5, thickness=100).encode(
    x=alt.X('Player:N'),
    y=alt.Y('LIR:Q',
            stack=None,
            scale=alt.Scale(domain=[0,10])),
    color=alt.Color('Player:N',
                    scale=color_scale),
    tooltip=['Code:N']
).transform_filter(
    selector
).properties(
    width=160,
    height=200
)

hists3 = base.mark_bar(opacity=1.0, thickness=80).encode(
    x=alt.X('Player:N'),
    y=alt.Y('NS:Q',
            stack=None,
            scale=alt.Scale(domain=[0,10])),
    color=alt.Color('Player:N',
                    scale=color_scale),
    tooltip=['Code:N']
).transform_filter(
    selector
).properties(
    width=160,
    height=200
)

hists4 = base.mark_bar(opacity=1.0, thickness=80).encode(
    x=alt.X('Player:N'),
    y=alt.Y('A3N:Q',
            stack=None,
            scale=alt.Scale(domain=[0,10])),
    color=alt.Color('Player:N',
                    scale=color_scale),
    tooltip=['Code:N']
).transform_filter(
    selector
).properties(
    width=160,
    height=200
)

alt.vconcat(points , hists | hists2 | hists3 | hists4)

alt.VConcatChart(...)

## Map 16x16

### Quantity of Iterations

In [5]:
#collapse-hide
l = [['L16x16-31696803.out', 3], ['L16x16-31696791.out', 2], ['L16-42825999.out', 3], ['L16-42872936.out', 4], ['L16-42872925.out', 3]]
df = pd.DataFrame(l, columns=['Test','Iterations'])
df.head()

                  Test  Iterations
0  L16x16-31696803.out           3
1  L16x16-31696791.out           2
2     L16-42825999.out           3
3     L16-42872936.out           4
4     L16-42872925.out           3

## Map 24x24

### Quantity of Iterations

In [6]:
#collapse-hide
l = [['L24x24-31696820.out', 1], ['L24-42826032.out', 1], ['L24x24-31696815.out', 1], ['L24-42826026.out', 1], ['L24x24-31696816.out', 1]]
df = pd.DataFrame(l, columns=['Test','Iterations'])
df.head()

                  Test  Iterations
0  L24x24-31696820.out           1
1     L24-42826032.out           1
2  L24x24-31696815.out           1
3     L24-42826026.out           1
4  L24x24-31696816.out           1

In [17]:
source = pd.DataFrame({'gender': ['M']*1000 + ['F']*1000,
               'height':np.concatenate((np.random.normal(69, 7, 1000),
                                       np.random.normal(64, 6, 1000))),
               'weight': np.concatenate((np.random.normal(195.8, 144, 1000),
                                        np.random.normal(167, 100, 1000))),
               'age': np.concatenate((np.random.normal(45, 8, 1000),
                                        np.random.normal(51, 6, 1000)))
        })
source.head(10)

  gender     height      weight        age
0      M  68.745453   53.597170  51.407150
1      M  66.784568  -34.589560  41.239578
2      M  59.473213   80.815005  51.208131
3      M  72.996276  248.271532  43.227893
4      M  70.464168  149.130279  45.416712
5      M  65.023936  307.233666  48.525166
6      M  69.217167  302.500105  51.964809
7      M  61.545971   96.790650  39.894821
8      M  76.072593  338.581420  47.774158
9      M  77.397006  131.839091  33.263421