# "Evaluating LeagueDSL in a large number of maps"
> "Checking for ways to present some results of my research."

- toc: true
- badges: false
- comments: true
- categories: [evaluations, tests]

In [1]:
#collapse-hide
import pandas as pd
import altair as alt

## Map Battle

### Quantity of Iterations

In [2]:
#collapse-hide
l = [['LB-42826107.out', 3], ['LBattle-31696511.out', 5], ['LBattle-31696509.out', 4], ['LBattle-31696507.out', 5], ['LBattle-31696506.out', 3], ['LB-42826120.out', 4]]
df = pd.DataFrame(l, columns=['Test','Iterations'])
df.head()

                   Test  Iterations
0       LB-42826107.out           3
1  LBattle-31696511.out           5
2  LBattle-31696509.out           4
3  LBattle-31696507.out           5
4  LBattle-31696506.out           3

## Map 8x8

### Quantity of Iterations

In [3]:
#collapse-hide
l = [['L8-42826052.out', 2], ['L8x8-31696644.out', 3], ['L8x8-31696609.out', 2], ['L8-42826046.out', 4], ['L8x8-31696645.out', 3], ['L8x8-31696632.out', 3]]
df = pd.DataFrame(l, columns=['Test','Iterations'])
df.head()

                Test  Iterations
0    L8-42826052.out           2
1  L8x8-31696644.out           3
2  L8x8-31696609.out           2
3    L8-42826046.out           4
4  L8x8-31696645.out           3

## Map 9x8

### Quantity of Iterations

In [4]:
#collapse-hide
l = [['L9-42849689.out', 1], ['L9x8-31696705.out', 1], ['L9x8-31696699.out', 1]]
df = pd.DataFrame(l, columns=['Test','Iterations'])
df.head()

                Test  Iterations
0    L9-42849689.out           1
1  L9x8-31696705.out           1
2  L9x8-31696699.out           1

## Map 16x16

### Quantity of Iterations

In [5]:
#collapse-hide
l = [['L16x16-31696803.out', 3], ['L16x16-31696791.out', 2], ['L16-42825999.out', 3], ['L16-42872936.out', 4], ['L16-42872925.out', 3]]
df = pd.DataFrame(l, columns=['Test','Iterations'])
df.head()

                  Test  Iterations
0  L16x16-31696803.out           3
1  L16x16-31696791.out           2
2     L16-42825999.out           3
3     L16-42872936.out           4
4     L16-42872925.out           3

## Map 24x24

### Quantity of Iterations

In [6]:
#collapse-hide
l = [['L24x24-31696820.out', 1], ['L24-42826032.out', 1], ['L24x24-31696815.out', 1], ['L24-42826026.out', 1], ['L24x24-31696816.out', 1]]
df = pd.DataFrame(l, columns=['Test','Iterations'])
df.head()

                  Test  Iterations
0  L24x24-31696820.out           1
1     L24-42826032.out           1
2  L24x24-31696815.out           1
3     L24-42826026.out           1
4  L24x24-31696816.out           1