# "Evaluating LeagueDSL in a large number of maps"
> "Checking for ways to present some results of my research."

- toc: true
- badges: false
- comments: true
- categories: [evaluations, tests]

In [4]:
#collapse-hide
import pandas as pd
import altair as alt

Requirement already satisfied: numpy in /home/rubens/virtutal_envs/venv_blog/lib/python3.8/site-packages (1.18.4)
Note: you may need to restart the kernel to use updated packages.

## Map Battle

### Quantity of Iterations

In [15]:
#collapse-hide
l = [['L8-42826052.out', 2], 
     ['L8x8-31696644.out', 3], 
     ['L8x8-31696609.out', 2], 
     ['L8-42826046.out', 4], 
     ['L8x8-31696645.out', 3], 
     ['L8x8-31696632.out', 3]]
df = pd.DataFrame(l, columns=['Test','Iterations'])
df.head()

                Test  Iterations
0    L8-42826052.out           2
1  L8x8-31696644.out           3
2  L8x8-31696609.out           2
3    L8-42826046.out           4
4  L8x8-31696645.out           3